.img-fluid {
    max-width: 100%;
    height: 100%;
}

.link-hover:hover {
    color: #DA4CC0 !important;
    transition: all 0.5s ease;
}

.caption-title-common {
    color: $base-bg-secondary;
    text-align: center;
    font-family: $Poppins-Medium;
    font-weight: 500;
    @include fontSize(30px);
}

.caption-subtitle-common {
    color: $base-color;
    text-align: center;
    font-family: $Poppins-Extra-light;
    font-weight: 200;
    @include fontSize(50px);
    margin-bottom: 30px;
    @include breakpoint(ipad-max) {
        @include fontSize(27px);
    }
}

.brief-desc {
    color: $base-color;
    text-align: left;
    font-family: $Poppins-Light;
    font-weight: 200;
    @include fontSize(22px);
    @include breakpoint(mobile-max) {
        @include fontSize(12px);
    }
}

.margin-top {
    margin-top: 118px;
    @include breakpoint(mobile-max) {
        margin-top: 175px;
    }
}

.base-bg {
    background-color: $base-bg-color;
}