//header
$header-twitter: icon-header-twitter;
$header-instagram: icon-header-instagram;
$header-linkedin: icon-header-linkedin;
$header-pinterest: icon-header-pinterest;
$header-facebook: icon-header-facebook;
//whats app and phone
$header-phone: icon-header-phone;
$header-whatsapp: icon-header-whatsapp;
//footer
$footer-twitter: icon-footer-twitter;
$footer-instagram: icon-footer-instagram;
$footer-linkedin: icon-footer-linkedin;
$footer-pinterest: icon-footer-pinterest;
$footer-facebook: icon-footer-facebook;