// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    //Default font size on html element is 100%, equivalent to 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}


/* placeholder */

@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

$breakpoints: ( 'custom-small-mobile-max': (max-width: 359px), 'portrait-mobile-max': (max-width: 575px), 'mobile-min': (min-width: 576px), 'mobile-max': (max-width: 767px), 'ipad-min': (min-width: 768px), 'ipad-max': (max-width: 991px), 'desktop-min': (min-width: 992px), 'desktop-max': (max-width: 1199px), 'large-desktop-min': (min-width: 1200px), 'medium-large-desktop-min': (min-width: 1366px), 'medium-large-desktop-max': (max-width: 1400px), );
@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Couldn't find a breakpoint named `#{$name}`.";
    }
}

// Opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

// Transition
@mixin transition($what: all, $time: 0.5s, $how: ease-in-out) {
    transition: $what $time $how;
}

@mixin form-control-footer {
    background-color: $base-color !important;
    border-bottom: 1px solid #A7A7A7 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    color: $text-white !important;
    padding: 5px 5px 14px 0px !important;
    @include input-placeholder {
        color: $text-white !important;
    }
}

// rgba Border
@mixin border-rgba ($color, $opacity) {
    border: 1px solid rgba(red($color), green($color), blue($color), $opacity);
}

// Background Color rgba
@mixin background-color-rgba($color, $opacity) {
    background-color: rgba($color, $opacity);
}

// Color rgba
@mixin color-rgba($color, $opacity) {
    color: rgba($color, $opacity);
}

// Horizontal and Center Align using Transform
@mixin horizontal-center-transform {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin vertical-center-transform {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin horizontal-vertical-center-transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Center Block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// seo button th bg:
@mixin seo-th-bg {
    background-color: #F43535;
    border-top: none;
    border-bottom: none;
    padding: 0px 0px !important;
}

@mixin seo-btn-silver-gold-bronze {
    background-color: $text-white;
    padding: 26px 10px 31px 10px;
    text-align: center;
    display: block;
    color: $base-color;
}

@mixin seo-btn-right-sign {
    background-color: $text-white;
    padding: 20px 10px 20px 10px;
    text-align: center;
    display: block;
    color: $base-color;
}