// Fonts
$primary-font: Poppins-Regular;
$Poppins-Extra-light: Poppins-Extra-light;
$Poppins-Medium: Poppins-Medium;
$Poppins-Bold: Poppins-Bold;
$Poppins-SemiBold: Poppins-SemiBold;
$Poppins-Light: Poppins-Light;
$Poppins-Regular: Poppins-Regular;
// Color
$base-color: #000000;
$text-white: #FFFFFF;
$text-color-secondary: #505050;
$links-hover-color: #FD1A1A;
$tabs-color: #F1F1F1;
// $header-bg-color: #E2E7EA;
$base-bg-color: #E2E7EA;
$base-bg-secondary: #EA3A3A;
$call-to-action-bg: #F43535;
// Container and Grid Spacing
$container-width: 1716px;
$container-fluid-width: 1920px;
$grid-space: 15px;
// path
$images-path: "../images" !default;
// icomoon
$icomoon-path: "../fonts/icomoon" !default;