.primary-btn {
    padding: 14px 10px 14px 44px;
    color: $text-white;
    background-color: #F43535;
    @include fontSize(30px);
    font-family: $Poppins-SemiBold;
    font-weight: 600;
    border: 1px solid transparent;
    display: inline-block;
    @include transition();
    @include breakpoint(mobile-max) {
        padding: 5px 10px 8px 10px;
        @include fontSize(16px);
    }
    &:hover {
        color: #F43535;
        background-color: $text-white;
    }
}

.seo-btn-bronze {
    background-color: $text-white;
    padding: 26px 10px 31px 10px;
    text-align: center;
    display: block;
    color: $base-color;
    &:hover {
        background-color: #F43535;
        color: $text-white;
    }
}

.seo-btn-silver {
    background-color: $text-white;
    padding: 26px 10px 31px 10px;
    text-align: center;
    display: block;
    color: $base-color;
    &:hover {
        background-color: #F43535;
        color: $text-white;
    }
}

.seo-btn-gold {
    background-color: $text-white;
    padding: 26px 10px 31px 10px;
    text-align: center;
    display: block;
    color: $base-color;
    &:hover {
        background-color: #F43535;
        color: $text-white;
    }
}

.seo-btn-bronze-right {
    background-color: $text-white;
    padding: 20px 10px 20px 10px;
    text-align: center;
    display: block;
    color: $base-color;
    &:hover {
        background-color: #F43535;
        color: $text-white;
    }
}

.seo-btn-silver-right {
    background-color: $text-white;
    padding: 20px 10px 20px 10px;
    text-align: center;
    display: block;
    color: $base-color;
    &:hover {
        background-color: #F43535;
        color: $text-white;
    }
}

.seo-btn-gold-right {
    background-color: $text-white;
    padding: 20px 10px 20px 10px;
    text-align: center;
    display: block;
    color: $base-color;
    &:hover {
        background-color: #F43535;
        color: $text-white;
    }
}

.seo-btn-active {
    background-color: #F43535;
    color: $text-white;
    box-shadow: 0px 13px 40px #0000004E;
}