.client {
    &__top {
        display: flex;
        // justify-content: center;
        align-items: center;
        @include breakpoint(mobile-max) {
            flex-wrap: wrap;
        }
        .client__top-left {
            max-width: 445px;
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $base-color;
            color: $text-white;
            font-family: $Poppins-SemiBold;
            font-weight: 600;
            padding: 42px 72px 42px 69px;
            @include fontSize(44px);
            @include breakpoint(desktop-max) {
                max-width: none;
                padding: 42px 20px 42px 20px;
                @include fontSize(28px);
            }
            @include breakpoint(ipad-max) {
                // max-width: 157px;
                padding: 25px 4px 25px 5px;
                @include fontSize(16px);
            }
            @include breakpoint(mobile-max) {
                width: 100%;
            }
        }
        .client__top-right {
            width: 65%;
            @include breakpoint(mobile-max) {
                width: 100%;
            }
            .ups-list-clients {
                @include breakpoint(mobile-max) {
                    width: 100%;
                    flex-wrap: wrap !important;
                }
                li {
                    max-width: 150px;
                    max-height: 35px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    @include breakpoint(mobile-max) {
                        width: 40%;
                        max-width: none !important;
                        flex-wrap: wrap;
                        margin-right: 5px;
                        max-height: 100px;
                        margin-bottom: 1rem;
                        margin-top: 1rem;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                    @include breakpoint(desktop-max) {
                        max-width: 90px;
                        margin-right: 15px;
                    }
                    @include breakpoint(desktop-max) {
                        max-width: 60px;
                    }
                    a {
                        filter: grayscale(1);
                        &:hover {
                            filter: grayscale(0);
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    &__bottom {
        background-image: url("../images/client/client-bottom-bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: auto;
        padding: 100px 0px 126px 93px;
        @include breakpoint(ipad-max) {
            padding: 27px 0px 61px 27px;
        }
        @include breakpoint(mobile-max) {
            padding: 16px 0px 44px 9px;
        }
        .client__bottom-top {
            .client-title {
                font-family: $Poppins-SemiBold;
                font-weight: 600;
                @include fontSize(30px);
                color: $text-white;
                margin-bottom: 1rem;
                @include breakpoint(mobile-max) {
                    text-align: center;
                }
            }
            .client-info {
                font-family: $Poppins-Extra-light;
                font-weight: 200;
                @include fontSize(50px);
                color: $text-white;
                margin-bottom: 94px;
                @include breakpoint(ipad-max) {
                    @include fontSize(20px);
                    color: #FFFFFF;
                    margin-bottom: 35px;
                }
                @include breakpoint(mobile-max) {
                    margin-bottom: 26px;
                    @include fontSize(16px);
                }
            }
        }
        .client__bottom-bottom {}
    }
}