.bg-black {
    background-color: $base-color;
}

.bg-base {
    background-color: $base-bg-color;
    box-shadow: 0px 1px 0px #00000029;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0px 18px 0px;
        @include breakpoint(mobile-max) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .header__top--left {
            @include breakpoint(mobile-max) {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 1rem;
            }
            .ups-header-social-lists {
                display: flex;
                align-items: center;
                @include breakpoint(mobile-max) {
                    justify-content: center;
                }
                li {
                    margin-left: 15px;
                    margin-right: 15px;
                    @include breakpoint(ipad-max) {
                        margin-left: 8px;
                        margin-right: 8px;
                    }
                    &:first-child {
                        margin-left: 0px;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                    a {
                        text-decoration: none;
                        @include fontSize(18px);
                        span {
                            @include transition();
                        }
                        &:hover {
                            span {
                                &::before {
                                    color: $links-hover-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        .header__top--right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include breakpoint(mobile-max) {
                width: 100%;
                flex-direction: column;
            }
            .header-quick-links {
                display: flex;
                @include breakpoint(mobile-max) {
                    margin-bottom: 12px;
                }
                li {
                    margin-left: 10px;
                    margin-right: 10px;
                    @include breakpoint(ipad-max) {
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                    a {
                        @include fontSize(18px);
                        color: $text-white;
                        &:hover {
                            color: $links-hover-color;
                        }
                        @include breakpoint(ipad-max) {
                            @include fontSize(15px);
                        }
                        @include breakpoint(mobile-max) {
                            @include fontSize(10px);
                        }
                        // text-decoration: none;
                    }
                }
            }
            .header-whatsapp-links {
                display: flex;
                li {
                    margin-right: 10px;
                    margin-left: 10px;
                    @include breakpoint(ipad-max) {
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                    &:first-child {
                        margin-left: 30px;
                    }
                    a {
                        @include fontSize(18px);
                        color: $text-white;
                        @include transition();
                        &:hover {
                            color: $links-hover-color;
                        }
                        @include breakpoint(ipad-max) {
                            @include fontSize(14px);
                        }
                    }
                }
            }
        }
    }
    &__bottom {
        // box-shadow: 0px 3px 6px #00000029;
    }
}

.navbar-brand {
    font-size: 2.688rem !important;
    font-family: $Poppins-SemiBold !important;
    font-weight: 600 !important;
    @include breakpoint(mobile-max) {
        font-size: 2.188rem !important;
    }
    .value {
        color: $base-color;
        float: left;
    }
    .hits {
        color: $links-hover-color;
    }
}

.navbar {
    padding: 0px !important;
}

.navbar-nav {
    .nav-item {
        .nav-link {
            font-family: $Poppins-Medium !important;
            font-size: 1.375rem !important;
            color: $base-color !important;
            padding-left: 22px !important;
            padding-right: 22px !important;
            @include transition();
            &:hover {
                color: $links-hover-color !important;
            }
        }
        &:last-child {
            .nav-link {
                padding-right: 0px !important;
            }
        }
    }
}