.container {
    max-width: $container-width;
    padding-left: $grid-space;
    padding-right: $grid-space;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    max-width: $container-fluid-width;
    padding-left: $grid-space;
    padding-right: $grid-space;
    margin-left: auto;
    margin-right: auto;
}