@font-face {
    font-family: 'Poppins-Extra-light';
    src: url('../fonts/popins/Poppins-ExtraLight.eot');
    src: url('../fonts/popins/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/popins/Poppins-ExtraLight.woff2') format('woff2'), url('../fonts/popins/Poppins-ExtraLight.woff') format('woff'), url('../fonts/popins/Poppins-ExtraLight.ttf') format('truetype'), url('../fonts/popins/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/popins/Poppins-Medium.eot');
    src: url('../fonts/popins/Poppins-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/popins/Poppins-Medium.woff2') format('woff2'), url('../fonts/popins/Poppins-Medium.woff') format('woff'), url('../fonts/popins/Poppins-Medium.ttf') format('truetype'), url('../fonts/popins/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/popins/Poppins-Bold.eot');
    src: url('../fonts/popins/Poppins-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/popins/Poppins-Bold.woff2') format('woff2'), url('../fonts/popins/Poppins-Bold.woff') format('woff'), url('../fonts/popins/Poppins-Bold.ttf') format('truetype'), url('../fonts/popins/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('Poppins-SemiBold.eot');
    src: url('Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), url('Poppins-SemiBold.woff2') format('woff2'), url('Poppins-SemiBold.woff') format('woff'), url('Poppins-SemiBold.ttf') format('truetype'), url('Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/popins/Poppins-Light.eot');
    src: url('../fonts/popins/Poppins-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/popins/oppins-Light.woff2') format('woff2'), url('../fonts/popins/Poppins-Light.woff') format('woff'), url('../fonts/popins/Poppins-Light.ttf') formaPoppins-Regulart('truetype'), url('../fonts/popins/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/popins/Poppins-Regular.eot');
    src: url('../fonts/popins/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/popins/Poppins-Regular.woff2') format('woff2'), url('../fonts/popins/Poppins-Regular.woff') format('woff'), url('../fonts/popins/Poppins-Regular.ttf') format('truetype'), url('../fonts/popins/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}